.navbar{
  background: #fff !important;
  color: #000 !important;
}

.album-section .col-md-6 .btn{
  width: 35% !important;
}


@media (max-width:576px){
  .carousel-inner .carousel-item img{
    height: 400px;
    object-fit: cover;
  }
  .carousel-inner .carousel-item .carousel-caption{
    bottom: 0!important;
  }
  .carousel-inner .carousel-item .carousel-caption h2{
    font-size: 2rem !important;
  }
  .carousel-inner .carousel-item .carousel-caption p{
    font-size: 1rem !important;
  }
  .carousel-inner .carousel-item .carousel-caption button{
    font-size: 13px !important;
  }
  .carousel-indicators{
    margin-bottom: 0!important;
  }
}